<body data-spy="scroll" data-target="#nav-menu" data-offset="0">
<section id="home" class="h-100">
  <app-particles class="w-100 h-100 position-absolute"></app-particles>
  <div class="w-100 h-100 d-flex justify-content-center align-items-center position-absolute" style="background:transparent">
    <div class="text-center">
      <div class="rellax p-3 tw" data-rellax-speed="-3" style="font-size: 2em"></div>
      <div class="rellax" data-rellax-speed="5" style="font-size: 1.2em">and this is my portfolio</div>
    </div>
  </div>
</section>
<app-nav-menu id="nav-menu"></app-nav-menu>
<section id="about-me" class="bg-info h-100">
  <app-about-me></app-about-me>
</section>
<section id="projects" class="bg-primary h-100">
  <app-projects></app-projects>
</section>
<section id="contact-me">
  <app-contact-me></app-contact-me>
</section>
</body>
