.home-title-cover{
  background: rgba(0, 0, 0, 0.5) !important;
}

#about-me{
  display: table;
  background-color: #262A2D;
}

@media (min-width: 992px) {
  #about-me{
    display: block;
    height: 100% !important;
    background-image: url("../../../assets/images/wp_about-me.jpg");
    background-size: cover;
    background-position: center;
  }
}
