<body data-spy="scroll" data-target="#nav-menu" data-offset="0">
<section id="home" class="h-100">
  <app-particles class="w-100 h-100 position-absolute"></app-particles>
  <div class="home-title-cover w-100 h-100 d-flex justify-content-center align-items-center position-absolute">
    <div class="text-center">
      <div class="p-3 tw-title" style="font-size: 2em">HI</div>
      <div class="tw-subtitle" style="font-size: 1.2em"></div>
    </div>
  </div>
</section>
<app-nav-menu id="nav-menu"></app-nav-menu>
<section id="about-me">
  <app-about-me></app-about-me>
</section>
<section id="projects">
  <app-projects></app-projects>
</section>
<section id="contact-me">
  <app-contact-me></app-contact-me>
</section>
</body>
