.home-title-cover {
  background: rgba(0, 0, 0, 0.5) !important;
}

#about-me {
  display: table;
  background-color: #262A2D;
}

#projects {
  display: table;
  width: 100%;
  background-color: #0b0d0e;
}

@media (min-width: 576px) {
  #about-me {
    position: relative;
    width: 100%;
    background-image: url("/../../../assets/images/wp_about-me.jpg");
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 1150px) and (min-height: 800px) {
  #about-me {
    display: table;
  }
}
