.home-title-cover {
  background: rgba(0, 0, 0, 0.5) !important;
}

#about-me {
  display: table;
  background-color: #262A2D;
}

#projects {
  background-color: #0b0d0e;
  //background-image: linear-gradient(to right top, #000000, #090809, #100f12, #141518, #161a1d);
}

@media (min-width: 768px) {
  #about-me {
    display: block;
    height: 100% !important;
    background-image: url("/../../../assets/images/wp_about-me.jpg");
    background-size: cover;
    background-position: center;
  }
}
