<h1 class="p-title">Projects</h1>
<div id="main-container" class="container text-center d-flex align-items-center">
  <div class="l-container">
    <div class="b-game-card" data-aos="fade-right" data-aos-offset="200" data-aos-duration="1200">
      <div class="b-game-card__cover rounded">
        <div class="container bg-danger">
          <div class="img-container p-3">
            <img id="pong-img" src="./assets/images/pong.png" class="card-image img-fluid">
          </div>
          <div class="container">
            <h1 class="content-title">Online pong</h1>
            <ul class="text-left">
              <li><img src="./assets/images/list_img.svg" class="mr-2">Python</li>
            </ul>
            <div class="content-text mt-3">Simple pong game but online (LAN)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="b-game-card" data-aos="fade-up" data-aos-offset="200" data-aos-duration="1200">
      <div class="b-game-card__cover rounded">
        <div class="container bg-success">
          <div class="img-container p-3">
            <img id="re-img" src="./assets/images/disassembler_img.svg" class="card-image img-fluid">
          </div>
          <div class="container">
            <h1 class="content-title">Disassembler</h1>
            <ul class="text-left">
              <li><img src="./assets/images/list_img.svg" class="mr-2">Python</li>
            </ul>
            <div class="content-text mt-3">Simple reverse-engineering tool</div>
          </div>
        </div>
      </div>
    </div>
    <div class="b-game-card" data-aos="fade-down" data-aos-offset="200" data-aos-duration="1200">
      <div class="b-game-card__cover rounded">
        <div class="container bg-primary">
          <div class="img-container p-3">
            <img src="./assets/images/browser_img.svg" class="card-image img-fluid">
          </div>
          <div class="container">
            <h1 class="content-title">Browser</h1>
            <ul class="text-left">
              <li><img src="./assets/images/list_img.svg" class="mr-2">Java</li>
            </ul>
            <div class="content-text mt-3">A simple web browser built in Java FX</div>
          </div>
        </div>
      </div>
    </div>
    <div class="b-game-card" data-aos="fade-left" data-aos-offset="200" data-aos-duration="1200">
      <div class="b-game-card__cover rounded">
        <div class="container bg-dark">
          <div class="img-container p-3">
            <img src="./assets/images/space_img.svg" class="card-image img-fluid">
          </div>
          <div class="container">
            <h1 class="content-title">Space invaders</h1>
            <ul class="text-left">
              <li><img src="./assets/images/list_img.svg" class="mr-2">Typescript</li>
            </ul>
            <div class="content-text mt-3">Recreation of the space invaders game</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
