@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#main-container-p{
  width: 100%;
}

.p-title {
  margin-bottom: 7%;
  font-size: 2em;
  font-family: 'Press Start 2P', cursive;
}

@media (max-width: 576px) {
  #main-container-p{
    padding-bottom: 25%;
  }

  .p-title {
    padding: 10% 0;
  }
}
