<h1 class="p-title">Projects</h1>
<div class="container text-center d-flex align-items-center">
  <div class="l-container">
    <div class="b-game-card">
      <div class="b-game-card__cover rounded">
        <div class="container bg-danger">
          <div class="img-container p-3">
            <img src="./assets/images/pong.png" class="card-image img-fluid">
          </div>
          <div class="container">
            <h1 class="content-title">Online pong</h1>
            <ul class="text-left">
              <li><img src="./assets/images/list_img.svg" class="mr-2">Python</li>
            </ul>
            <div class="content-text mt-3">Simple pong game but online (LAN)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="b-game-card">
      <div class="b-game-card__cover rounded">
        <div class="container bg-success">
          <div class="img-container p-3">
            <img src="./assets/images/pong.png" class="card-image img-fluid">
          </div>
          <div class="container">
            <h1 class="content-title">Reverse-engineering</h1>
            <ul class="text-left">
              <li><img src="./assets/images/list_img.svg" class="mr-2">Python</li>
            </ul>
            <div class="content-text mt-3">Simple reverse-engineering tool</div>
          </div>
        </div>
      </div>
    </div>
    <div class="b-game-card">
      <div class="b-game-card__cover rounded">
        <div class="container bg-primary">
          <div class="img-container p-3">
            <img src="./assets/images/pong.png" class="card-image img-fluid">
          </div>
          <div class="container">
            <h1 class="content-title">Online pong</h1>
            <ul class="text-left">
              <li><img src="./assets/images/list_img.svg" class="mr-2">Python</li>
            </ul>
            <div class="content-text mt-3">Simple pong game but online (LAN)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="b-game-card">
      <div class="b-game-card__cover rounded">
        <div class="container bg-dark">
          <div class="img-container p-3">
            <img src="./assets/images/pong.png" class="card-image img-fluid">
          </div>
          <div class="container">
            <h1 class="content-title">Online pong</h1>
            <ul class="text-left">
              <li><img src="./assets/images/list_img.svg" class="mr-2">Python</li>
            </ul>
            <div class="content-text mt-3">Simple pong game but online (LAN)</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
