nav{
  background-color: #161A1D !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.active{
  color: #38B000 !important;
}

.navbar-brand{
  transition: color 0.1s linear;
}

.navbar-brand:hover{
  color: #38B000 !important;
}
