<nav id="main-nav" class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav text-center ml-lg-auto">
      <li class="nav-item" *ngFor="let option of navOptions; let index = index" [id]="'nav-item-'+index">
        <a class="nav-link" ngxScrollTo [ngxScrollToOffset]="sectionPositions[option]" [href]="'#'+option"
           (click)="$event.preventDefault()">{{option | strip: "-" | titlecase}}</a>
      </li>
    </ul>
  </div>
</nav>
