nav{
  background-color: transparent !important;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 600ms;
}

.sticky {
  background-color: #0d0f11 !important;
}

.custom-active{
  color: #38B000 !important;
}

.navbar-brand{
  transition: color 0.1s linear;
}

.navbar-brand:hover{
  color: #38B000 !important;
}
