#main-container {
  display: table;
  padding: 0;
}

.img-container {
  z-index: 2;
}

.img-container img {
  display: none;
  max-width: 40%;
  margin-top: 10%;
  position: relative;
  box-shadow: 20px 20px 60px #262a2d,
  -20px -20px 60px #000000;
}

.txt-container {
  width: 100%;
  right: 0;
  text-align: justify;
  background: #141E30;
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  background: linear-gradient(to right, #243B55, #141E30);
  box-shadow: 2px 2px 25px #262a2d,
  -2px -2px 25px #000000;
  z-index: 1;
}

.txt-container img {
  display: block;
}

.progress {
  height: 10px;
  border-radius: 25px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  #main-container {
    position: relative;
  }

  .txt-container img {
    display: none;
  }

  .img-container img {
    display: block;
  }

  .txt-container {
    width: 75%;
    position: absolute;
  }

  .txt, .skill-progress {
    margin-left: 25%;
  }
}

@media (min-width: 1200px) {
  .txt-container {
    font-size: 1.3em;
  }
}
