#main-container {
  position: relative;
}

img {
  position: relative;
  max-width: 40%;
  display: block;
  z-index: 1;
}

.img-container {
  z-index: 1;
}

.txt-container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

[data-scroll] {
  transition: transform 700ms;
}

[data-scroll="in"] {
  transform: translateY(0);
}

[data-scroll="out"] {
  transform: translateY(200px);
}
