<div id="main-container" class="container p-3">
  <div data-rellax-percentage="1.2" class="img-container">
    <img src="./assets/images/ramphy.jpeg" class="img-fluid" alt="Ramphy image">
  </div>
  <div data-rellax-percentage="1.2" class="txt-container d-flex align-items-center flex-column bg-danger">
    <img src="./assets/images/ramphy.jpeg" class="img-fluid" alt="Ramphy image">
    <div class="txt col-12 col-lg-9 p-3">
      {{text_1}}
    </div>
    <div class="skill-progress col-12 col-lg-9 p-3">
      <div class="row">
        <div class="col-12 col-lg-6">
          <label>Java</label>
          <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
          <label>Php</label>
          <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
          </div>
          <label>MySQL</label>
          <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <label>Python</label>
          <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
          </div>
          <label>Angular</label>
          <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
          </div>
          <label>Assembly x64</label>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
