* {
  color: #E5E5E5 !important;
}

html, body {
  height: 100%;
}

body {
  position: relative !important;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #262A2D !important;
}

nav {
  z-index: 1;
}

section {
  z-index: 0;
}

.nav-link {
  transition: color 0.1s linear;
}

.nav-link:hover {
  color: #38B000 !important;
}
